#header{
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color:white;
}

.calculator-body {
    margin: auto;
}


button {
    padding: 10px;
    margin: 20px;
    width: 100px;
    height: 60px;
    font-size: 15px;
    border-radius: 5px;
}
button:hover{
    transition: 1s;
    background-color: mediumseagreen;
}
button:hover{
    background-color: darkgreen;
}

.row {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
    padding: 1em;
}